/* 
Delcaration block::after

selector{
   property: value;
   property2: value;
}
*/

body {
    background-color: rgb(5, 5, 69);
    color: whitesmoke;
}

nav {

    height: 600px;
    width: 200px;
    float: left;
    paddling: 5px;
    line-height: 30px;

}

footer{
    text-align: center;
    margin-right: 200px;
}

#PolarImage{
    margin-right: 200px;
    width: 400px;
}

h1{
    text-align: center;
}